################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/ToDoItemApi/bin
/ToDoItemApi/obj
.idea/